.createEventPage {
  min-height: 100vh;
  padding: 2rem 0;
}

.header {
  text-align: center;
  margin-bottom: 2rem;
}

.paper {
  padding: 2rem;
  border-radius: 4px;
}

.formContainer {
  padding: 2rem;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.formSection {
  margin-bottom: 1.5rem;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.title {
  text-align: center;
  color: #1976d2;
  margin-bottom: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  // gap: 1rem;
  .datePickerWrapper {
    width: 100%;
  }
  .datePickerPopper {
    z-index: 2;
  }
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

@media (max-width: 768px) {
  .createEventPage {
    padding: 1rem 0;
  }

  .formContainer {
    padding: 1.5rem;
    margin: 0 1rem;
  }

  .title {
    font-size: 1.75rem;
  }
}
