.dialogPaper {
  border-radius: 16px;
  padding: 8px 0;
}

.title {
  font-weight: 600 !important;
  text-align: center;
  padding: 16px 24px 8px !important;
  position: relative;

  .closeButton {
    position: absolute;
    right: 8px;
    top: 0px;
    color: #666;
  }
}

.qrContainer {
  display: flex;
  justify-content: center;
  padding: 16px;
}

.content {
  min-height: 350px;
  .hint {
    margin-top: 1rem;
  }

  .digit {
    font-weight: 700;
    font-size: 3.5rem;
    color: #ff6600;
    letter-spacing: 4px;
  }
}

.codeContainer {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin: 0 auto 24px;
}

.loadingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
}

.actions {
  padding: 16px 24px 24px !important;
  margin: 0;
}

@media (max-width: 768px) {
  .qrContainer {
    padding: 0;
  }
}
