.container {
  width: 100%;
  position: relative;
  border: 1px solid #0000003b !important;
  background-color: #fafafa;
  padding: 0 !important;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 0.5rem !important;
  min-height: 250px;

  transition: all 0.2s ease;
  aspect-ratio: 16 / 5;

  &:hover {
    background-color: #f0f0f0;
  }

  &.dragging {
    border: 1px solid #1976d2 !important;
    background-color: #e3f2fd;
  }
  &.error {
    border: 1px solid #dc004e !important;
  }
  & .uploadIcon {
    font-size: 48px;
    margin-bottom: 1rem;
  }
}

.previewImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.closeIcon {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.helper {
  position: absolute;
  bottom: 8px;
  right: 8px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  padding: 0 4px;
  display: flex;
  align-items: center;
}

// @media (max-width: 768px) {
//   .uploadIcon {
//     font-size: 24px;
//     margin-bottom: 0.5rem;
//   }
// }
