.eventActions {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  gap: 0.75rem;
  margin-top: auto;
  margin-left: auto;
}

.actionButton {
  font-size: 0.875rem !important;
  padding: 6px 16px !important;
}

@media (max-width: 1100px) {
  .eventActions {
    position: static;
    margin-top: 1rem;
  }
}
