.marker {
  height: 42px;
}

.selectedMarker {
  svg path {
    fill: #ff5722;
  }
}

.searchContainer {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 100%;
  z-index: 1;
  max-width: 400px;
}
