.wrapper {
  position: relative;
  margin-top: 2rem;
  overflow: hidden;
  border-radius: 4px;
}

.container {
  padding: 0 !important;
}

.card {
  width: 100%;
  height: 100%;
  padding: 80px 0;
  background: transparent !important;
  border-radius: 4px;
  overflow: hidden;

  &:hover {
    .mapImage {
      transform: scale(1.03);
    }

    .button {
      transition: transform 0.4s ease;

      transform: scale(1.02);
    }
  }

  @media (max-width: 900px) {
    padding: 60px 0;
  }
}

.textContent {
  flex: 1;
  max-width: 520px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
  z-index: 2;
  margin: auto;
  background: #fff;
  padding: 20px;
  border-radius: 4px;
}

.title {
  font-weight: 700;
}

.subtitle {
  font-size: 1.1rem;
  line-height: 1.6;
}

.button {
  font-weight: 600;
  text-transform: none;
}

.mapPreview {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.mapImage {
  width: 100%;
  transition: transform 0.4s ease;
  object-fit: cover;
  filter: blur(3px);
}
