.registrationForm {
  padding-bottom: 48px;
}

.alert {
  display: flex;
  align-items: center;
  margin-bottom: 48px;
}

.message {
  display: flex;
  align-items: center;
}

.link {
  color: #1976d2;
  margin-left: 2px;
  &:hover {
    text-decoration: underline;
  }
}

.form {
  display: flex;
  gap: 8px;
  width: 100%;
  height: auto;
  align-items: center;
}

.submitButton {
  width: 100%;
  height: 40px;
  max-width: 200px;
  text-wrap: nowrap;
}

@media (max-width: 550px) {
  .form {
    flex-direction: column;
    align-items: stretch;
  }

  .submitButton {
    max-width: 100%;
  }
}
