.pagination {
  display: flex;
  align-items: center;
  gap: 8px;
}

.ellipsis {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-weight: 600;
  cursor: not-allowed;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-weight: 600;

  border: 1px solid transparent;

  &:hover {
    transition: 0.2s all;
    background-color: #1976d2;
    border: 1px solid #1976d2;
    color: #fff;
  }

  &.hidden {
    visibility: hidden;
  }
}

.active {
  background-color: #1976d2;
  border: 1px solid #1976d2;
  color: #fff;
}
