.container {
  min-height: calc(100vh - 68px);
  display: flex !important;
  flex-direction: column;
  padding-bottom: 3rem;
}

.containerEmpty {
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  gap: 1rem;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.eventCard {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.emptyState {
  text-align: center;
  padding: 4rem 2rem;
}

@media (max-width: 768px) {
  .container {
    gap: 1rem;
    min-height: calc(100vh - 56px);
  }
}

@media (max-width: 350px) {
  .row {
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }
}
