.homePage {
  min-height: 100vh;
  position: relative;
}

.homePage .mainContainer {
  padding: 0;
  padding-bottom: 2rem;
  position: relative;
  margin-bottom: 2rem;
}

.container {
  margin-bottom: 2rem;
}

.imageContainer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.heroImage {
  object-fit: cover;
  object-position: center;
}

.header {
  margin: auto;
  background: #fff;
  text-align: center;
  padding: 20px 40px;
  border-radius: 4px;
  text-transform: uppercase;
  width: fit-content;

  &:hover .button {
    transform: scale(1.02);
  }

  .title {
    // color: #1976d2;
    margin-bottom: 1rem;
    font-size: 60px;
  }

  .subtitle {
    color: #666;
    margin: 0 auto;
    font-size: 28px;
  }

  .button {
    margin-top: 1.5rem;
    padding: 14px 40px;
    transition: transform 0.4s ease;
  }
}

.filtersSection {
  margin-bottom: 2rem;
  padding-top: 2rem;
}

.contentSection {
  margin-bottom: 1rem;
  .eventsList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 1.5rem;
    margin-top: 1rem;
  }

  .mapContainer {
    height: 600px;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
}

.viewAllBlock {
  display: flex;
  width: 100%;
  justify-content: center;
}

@media (max-width: 950px) {
  .header {
    .title {
      font-size: 3rem;
    }
  }
}

@media (max-width: 768px) {
  .header {
    .title {
      font-size: 2rem;
    }
    .subtitle {
      font-size: 1.25rem;
    }
  }

  .contentSection {
    .eventsList {
      grid-template-columns: 1fr;
      gap: 1rem;
    }

    .mapContainer {
      height: 400px;
    }
  }
}
