* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  min-height: calc(100vh - 68px);
}

body {
  color: rgb(var(--foreground-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@media (max-width: 768px) {
  main {
    min-height: calc(100vh - 56px);
  }
}

.maplibregl-map {
  overflow: hidden;
}
