.formSection {
  margin-bottom: 1.5rem;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.title {
  text-align: center;
  color: #1976d2;
  margin-bottom: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  // gap: 1rem;
  .datePickerWrapper {
    width: 100%;
  }
  .datePickerPopper {
    z-index: 2;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 1.75rem;
  }
}
