.imageContainer {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  background-color: #ececec;
  margin-bottom: 2rem;

  .name {
    width: 60%;
    height: 64px;
    transform: scale(1);
    margin-bottom: 2rem;
  }

  .headItem {
    width: 15%;
    height: 50px;
    transform: scale(1);
  }
}

.row {
  display: flex;
  gap: 5rem;
  align-items: center;
}

.rowWithSpace {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.headingContainer {
  display: flex;
  flex-direction: column;
  z-index: 1;
  margin-bottom: 2rem;

  .mapItem {
    width: 100%;
    height: 350px;
    transform: scale(1);
    margin: 2rem 0;
  }
  .registeredDriver {
    margin-bottom: 1rem;
  }

  .driversName {
    width: 120px;
    transform: scale(1);
    margin-bottom: 0.5rem;
  }
  .driversCar {
    width: 200px;
    transform: scale(1);
  }
}

@media (max-width: 600px) {
  .imageContainer {
    .headItem {
      width: 30%;

      &:nth-child(2n) {
        display: none;
      }
    }
  }
  .row {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  .registeredDriver:nth-child(3n) {
    display: none;
  }
}
