.section {
  padding: 2rem;
  height: fit-content;
}

.carsList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.carCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
