.fullSkeleton {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 285px;

  .leftHandFiltersSkeleton {
    width: 100%;
    height: calc(100% - 150px - 1.5rem);
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .filter {
    width: 100%;
    height: 175px;
    border-bottom: 1px solid #e0e0e0;
    padding: 1.5rem;
  }

  .filterName {
    height: 23px;
    width: 120px;
    margin-bottom: 16px;
  }

  .filterValues {
    height: 25px;
    width: 80%;
    margin-top: 8px;
  }
}
