.container {
  padding: 2rem 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.eventCard {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.emptyState {
  text-align: center;
  padding: 4rem 2rem;
}
