.smallEventSkeleton {
  width: 100%;
  height: 230px;
  display: flex;
  gap: 8px;
  margin-bottom: 1rem;

  .image {
    height: 100%;
    width: 350px;
    min-width: 350px;
  }
}

.details {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  padding: 1rem;

  .row {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.5rem;
  }

  .rowWithGap {
    display: flex;
    align-items: center;
    gap: 3rem;
  }

  .title {
    width: 50%;
    height: 30px;
  }

  .price {
    margin-left: auto;
    width: 20%;
    height: 30px;
  }

  .description {
    width: 80%;
    height: 16px;
  }

  .location {
    width: 100px;
    height: 16px;
  }
  .buttons {
    display: none;
  }
}

@media (max-width: 1100px) {
  .smallEventSkeleton {
    flex-direction: column;
    height: auto;

    .image {
      height: 200px;
      width: 100%;
    }

    .buttons {
      display: block;
      width: 30%;
      height: 38px;
      margin-left: auto;
      margin-top: 1rem;
      transform: scale(1);
    }
  }
}

@media (max-width: 400px) {
  .details {
    .rowWithGap {
      flex-direction: column;
      gap: 0.5rem;
      align-items: flex-start;
    }
    .buttons {
      width: 50%;
    }
  }
}
